/* css/styles.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

/* styles.css の例 */
#toggleFeatures {
  position: absolute; /* または fixed でも可 */
  top: 10px;
  right: 10px;
  z-index: 10;
}

/* 古いカメラ風のフィルター例 */
#canvas {
  filter: saturate(0.8) sepia(0.05) contrast(1) brightness(1.0) grayscale(0) hue-rotate(-10deg);
}
